.logo {
    margin-top: 10px;
    width: 60%;
    height: 60%;
}

.headerTitle {
    font-size: 30px;
    margin-top: 25px;
}

.headerFont {
    font-size: 25px;
}

.headerLightColor {
    height: 60px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #221E1D;
    position: fixed !important;
    width: 100vw !important;
}

@media only screen and (max-width: 720px) {
    .orientationOnMobile {
        flex-direction: row !important;
    }
}