.generalInfo {
    margin-left: 0;
    margin-right: 0;
    font-size: 40px;
    color: #221E1D;
}

.responsiveImage {
    width: 70%;
    height: auto;
    margin-top: 70px;
    margin-bottom: 15px;
}

.summarySection {
    background-color: #DCDCDC;
}