.manageGroupTitle {
    margin-left: 0;
    margin-right: 0;
    font-size: 40px;
    color: #221E1D;
}

.addTableMargin {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.text-center-v {
    vertical-align: middle !important;
}

.text-center-v-h {
    text-align: center !important;
    vertical-align: middle !important;
}

.tableHeight {
    min-height: 300px;
}

.btnUserState {
    min-width: 100px;
}

.searchBar {
    margin-left: 20px;
    border-radius: 30px 0 0 30px;
    box-shadow: none !important;
    min-width: 79vw !important;
}

.searchAppend {
    background-color: #ff3b00 !important;
    border: #221E1D !important;
    border-radius: 30px 0 0 30px;
}

.notFound {
    font-size: 30px;
    margin: 80px 0 0 20px;
}

.notFound > p {
    text-align: center;
}

.tableDisplay {
    min-height: 700px;
}