div.container {
    /*margin-top: auto;*/
    /*margin-bottom: auto;*/
    font-size: x-large;
    font-weight: 700;
    min-height: 100vh;
    min-width: -webkit-max-content;
    color: #666666;
    background-color: #DCDCDC;
    margin-right: 0;
    margin-left: 0;
}

img.error-page {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
}

.text-container {
    margin-top: auto;
    margin-bottom: auto;
}

.red-text {
    color: red;
}