.removeNavPadding {
    margin-top: 50px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.sideBar {
    font-size: 20px;
    background-color: #E9633B;
}

.footer {
    /*border-top: 1px solid #E6DEDD !important;*/
    background-color: #221E1D;
}

.paddingFooter {
    padding: 10px 20px 10px 20px;
}

.footerText {
    color: #E6DEDD;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.containWrap {
    flex: 1;
}

body {
    overflow-x: hidden;
}

@media only screen and (min-width: 1200px) {
    .mainScreen {
        min-height: 100vh;
    }
}

@media only screen and (min-width: 1200px) {
    .summaryBackground {
        min-height: 100vh;
    }
}

.summaryBackground {
    background-color: #FFFFFF;
}

.header {
    position: fixed !important;
    width: 100vw !important;
    margin-bottom: 10px;
    left: 0 !important;
    top: 0 !important;
    z-index: 200;
}