.inputQuestion {
    /*border-color: green;*/
    border-width: medium;
}

.dividerDown {
    border-bottom: solid #DCDCDC;
    border-width: thin;
    text-align: center;
}

.dividerUp {
    border-top: solid #DCDCDC;
    border-width: thin;
    text-align: center;
}

.marginUp {
    margin-top: 10px;
}

.inputAnswer {
    display: inline-block !important;
    max-width: 300px;
}

.inputGroup {
    margin-bottom: 5px;
}

.controlButton {
    width: 100px;
}

.accordion {
    background-color: #424242 !important;
    color: #fff !important;
    margin-bottom: 20px;
    /*margin-right: 15px;*/
}

.MuiTypography-root {
    font-size: 20px !important;
    flex: 1;
}

.Mui-expanded {
    margin-bottom: 20px !important;
    /*margin-right: 15px !important;*/
}

.MuiAccordion-root {
    margin-right: 15px !important;
}

.MuiAccordionSummary-expandIcon {
    color: #fff !important;
}

.answerSection {
    margin-top: 25px;
}

.buttonFlex {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.answerWholeSection {
    min-height: 500px;
}